# Server Environment Variables
PORT=5000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/task_management_db
BETTER_AUTH_SECRET=super-secret-key-task-management-system-2026
BETTER_AUTH_URL=http://localhost:5000
CLIENT_URL=http://localhost:5173
EMAIL_USER=your-email@gmail.com
EMAIL_APP_PASSWORD=your-app-password

# Web Frontend Environment Variables
VITE_API_URL=http://localhost:5000/api
